body {
    margin: 0px;
    overflow: hidden;
    background-image: url("https://i.ytimg.com/vi/BA9rYiWxhbQ/maxresdefault.jpg");
}

canvas {
    position: relative;
    background: lightgrey;
    border: solid black 2px;
}